.new__main
  = form_for @note do |f|
    = render 'layouts/error_messages', model: f.object
    .new__main__header
      .new__main__header__title
        = f.text_field :title, class: 'title',placeholder: "title"
      .new__main__header__btn
        .new__main__header__btn--start
          %button{type: "button", id:'start-btn'} 
            = "start"
        .new__main__header__btn--stop
          %button{type: "button", id:'stop-btn'} 
            = "stop"
        .new__main__header__btn--save
          = f.submit "save", id: 'save-btn'
    .new__main__content
      = f.text_area :content, class: 'text', placeholder: 'type a text', id: 'content', size: "113x25", style: "border:none"